@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<section class="new-arrival">
    <h2>New Arrival</h2>
    <div class="product-list">
        <div class="product-item">
            <img src="link-to-product1.jpg" alt="Product 1">
            <p>Dress Beige</p>
            <p>$120.00</p>
        </div>
        <div class="product-item">
            <img src="link-to-product2.jpg" alt="Product 2">
            <p>Dress Black</p>
            <p>$130.00</p>
        </div>
        <!-- Thêm các sản phẩm khác -->
    </div>
</section>


